.model_display {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}
.model_display .model_list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(var(--column), 1fr);
  grid-gap: 0.55vw;
  overflow-y: auto;
  padding-right: 0.55vw;
}
.model_display .model_list .selected {
  transition: 0.3s;
  border: 2px solid #ffffff !important;
  filter: contrast(120%);
}
.model_display .model_list .model_item {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 11.4vw;
  border-radius: 0.3vw;
  border: 2px solid #3d3d3d;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.model_display .model_list .model_item .img_container {
  width: 100%;
  height: 8.7vw;
  font-size: 0;
}
.model_display .model_list .model_item .img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.model_display .model_list .model_item .model_des {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #262626;
  padding: 0.3vw;
}
.model_display .model_list .model_item .model_des .level {
  width: 1.56vw;
  height: 1.56vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 1.3rem;
  background-color: red;
  border-radius: 0.3vw;
}
.model_display .model_list .model_item .model_des .text_des {
  flex: 1;
  margin-left: 0.3vw;
  width: 100%;
  overflow: hidden;
}
.model_display .model_list .model_item .model_des .text_des p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.model_display .model_list .model_item .model_des .text_des p:nth-of-type(1) {
  font-size: 1rem;
  font-weight: bold;
}
.model_display .model_list .model_item .model_des .text_des p:nth-of-type(2) {
  font-size: 0.7rem;
  color: #808080;
}
.model_display .model_list::-webkit-scrollbar {
  width: 15px;
}
.model_display .model_list::-webkit-scrollbar-thumb:vertical {
  border-radius: 20px;
  background: #ff8d1a;
}
.model_display .model_list::-webkit-scrollbar-track {
  background-color: transparent;
}
@keyframes tag_input_enter {
  0% {
    width: 0;
  }
  100% {
    width: 7vw;
  }
}
.model_display .model_detail {
  width: 17vw;
  flex-shrink: 0;
  height: 100%;
  border: 1px solid #3d3d3d;
  background: #262626;
  border-radius: 0.5vw;
  padding: 0.52vw 0.52vw 1vw 0.52vw;
  display: flex;
  flex-direction: column;
  margin-left: 0.55vw;
}
.model_display .model_detail .img_container {
  position: relative;
  width: 100%;
  height: 8.7vw;
  border-radius: 0.5vw;
  overflow: hidden;
}
.model_display .model_detail .img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.model_display .model_detail .img_container .option_group {
  position: absolute;
  display: flex;
  align-items: center;
  right: 1vw;
  top: 1vw;
  background: #383838;
  border-radius: 0.5vw;
}
.model_display .model_detail .img_container .option_group .icon_container {
  padding: 0.6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s;
  cursor: pointer;
}
.model_display .model_detail .img_container .option_group .icon_container em {
  font-size: 0.8rem;
}
.model_display .model_detail .img_container .option_group .icon_container:hover {
  color: aqua;
}
.model_display .model_detail .img_container .option_group .block {
  background: #808080;
  border-radius: 1vw;
  width: 0.15vw;
  height: 0.7vw;
}
.model_display .model_detail .focus {
  background: #1f1f1f;
}
.model_display .model_detail .focus input {
  color: #bfbfbf;
}
.model_display .model_detail .model_name {
  width: 100%;
  color: #ffffff;
  margin: 0.5vw 0;
  transition: 0.2s;
  min-height: 2.1vw;
  display: flex;
  align-items: center;
  padding-left: 0.5vw;
  cursor: pointer;
  font-weight: bold;
}
.model_display .model_detail .model_name:hover {
  color: #bfbfbf;
}
.model_display .model_detail .name_input {
  background: #000000;
  width: 100%;
  display: flex;
  height: 2.1vw;
  border-radius: 0.3vw;
  align-items: center;
  margin: 0.5vw 0;
}
.model_display .model_detail .name_input input {
  flex: 1;
  background: transparent;
  height: 100%;
  color: #bfbfbf;
  padding-left: 0.5vw;
}
.model_display .model_detail .name_input span {
  width: 2.1vw;
  height: 2.1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.model_display .model_detail .name_input span em {
  font-size: 0.7rem;
  transition: color 0.2s;
}
.model_display .model_detail .name_input span:hover em {
  color: #2a82e4;
}
.model_display .model_detail .level_group {
  display: flex;
  width: 100%;
  background: #1f1f1f;
  border-radius: 0.3vw;
  padding: 0.2vw 0.1vw;
}
.model_display .model_detail .level_group .selected {
  background: var(--color) !important;
}
.model_display .model_detail .level_group .level_item {
  cursor: pointer;
  width: 2.8vw;
  height: 1.6vw;
  background: #383838;
  transition: background 0.3s;
  border-radius: 0.3vw;
  margin: 0 0.15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.model_display .model_detail .level_group .level_item:hover {
  background: var(--color);
}
.model_display .model_detail .model_inf {
  margin-top: 0.5vw;
  display: grid;
  grid-gap: 0.5vw;
  width: 100%;
  padding: 0 0.8vw;
}
.model_display .model_detail .model_inf p {
  font-weight: bold;
}
.model_display .model_detail .model_inf .inf_item {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  font-size: 1rem;
}
.model_display .model_detail .model_inf .inf_item span {
  font-weight: bold;
  color: #bfbfbf;
}
.model_display .model_detail .classify_input_container {
  flex: 1;
  overflow: hidden;
  padding: 0.5vw 0.3vw 0.5vw 0.5vw;
  background: #1f1f1f;
  border-radius: 0.3vw;
  margin: 0.5vw 0;
}
.model_display .model_detail .classify_input_container .classify_input {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5vw;
  align-content: flex-start;
  padding-right: 0.3vw;
}
.model_display .model_detail .classify_input_container .classify_input .tag {
  cursor: default;
  display: flex;
  color: #ffffff;
  background: #383838;
  border-radius: 0.3vw;
  padding: 0.26vw 0.67vw;
  flex: 0;
  white-space: nowrap;
  font-weight: bold;
  align-items: center;
}
.model_display .model_detail .classify_input_container .classify_input .tag em {
  color: #808080;
  cursor: pointer;
  margin-left: 0.4vw;
  transition: color 0.25s;
  font-size: 0.7rem;
}
.model_display .model_detail .classify_input_container .classify_input .tag em:hover {
  color: red;
}
.model_display .model_detail .classify_input_container .classify_input .expand {
  background: #383838 !important;
  border: 1px solid transparent !important;
}
.model_display .model_detail .classify_input_container .classify_input .expand em {
  color: #ffffff !important;
}
.model_display .model_detail .classify_input_container .classify_input .tag_input {
  padding: 0.36vw 0.62vw;
  border: 1px solid #3d3d3d;
  border-radius: 0.36vw;
  background: #1f1f1f;
  cursor: pointer;
}
.model_display .model_detail .classify_input_container .classify_input .tag_input input {
  width: 0;
  overflow: hidden;
  color: #ffffff;
  background: transparent;
  padding: 0;
  animation: tag_input_enter 0.3s forwards;
}
.model_display .model_detail .classify_input_container .classify_input .tag_input em {
  color: #3d3d3d;
}
.model_display .model_detail .classify_input_container .classify_input .tag_input:hover {
  background: #262626;
  border: 1px solid #262626;
}
.model_display .model_detail .classify_input_container .classify_input .tag_input:hover em {
  color: #ffffff;
}
.model_display .model_detail .classify_input_container .classify_input::-webkit-scrollbar {
  width: 8px;
}
.model_display .model_detail .classify_input_container .classify_input::-webkit-scrollbar-thumb:vertical {
  border-radius: 20px;
  background: #808080;
}
.model_display .model_detail .classify_input_container .classify_input::-webkit-scrollbar-track {
  background-color: transparent;
}
.model_display .model_detail .classify_input_container .classify_input::-webkit-scrollbar-corner {
  background-color: transparent;
}
.model_display .model_detail .use_button {
  width: 100%;
  height: 2.1vw;
  background: #2a82e4;
  border-radius: 0.3vw;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
}
.model_display .model_detail .use_button:hover {
  box-shadow: 0 0 5px 2px #2a82e4;
}
.model_display .empty {
  flex: 1;
  height: 100%;
  font-size: 2rem;
}
