.settings_page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.settings_page .content_wrapper {
  flex: 1;
  overflow: hidden;
  padding: 1.6vw 2.6vw 1.8vw 2.6vw;
}
.settings_page .content_wrapper .content {
  height: 100%;
  overflow-y: auto;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.settings_page .content_wrapper .content .setting_items {
  margin-bottom: 1.3vw;
}
.settings_page .content_wrapper .content .setting_items h1 {
  font-size: 1.4rem;
}
.settings_page .content_wrapper .content .setting_items p {
  color: #bfbfbf;
}
.settings_page .content_wrapper .content .setting_items .language_list {
  display: grid;
  grid-gap: 0.5vw;
  padding: 0.3vw;
  grid-template-columns: repeat(3, 1fr);
  background: #262626;
  border-radius: 0.5vw;
  margin-top: 0.7vw;
  border: 1px solid #3d3d3d;
}
.settings_page .content_wrapper .content .setting_items .language_list .selected {
  background: #ffc300 !important;
}
.settings_page .content_wrapper .content .setting_items .language_list .language_item {
  cursor: pointer;
  transition: background 0.2s;
  padding: 0.5vw 0.8vw;
  border-radius: 0.4vw;
  white-space: nowrap;
  font-weight: bold;
  text-align: center;
}
.settings_page .content_wrapper .content .setting_items .language_list .language_item:hover {
  background: #383838;
}
.settings_page .content_wrapper .content .setting_items .shortcut_list {
  display: grid;
  grid-gap: 0.5vw;
  padding: 0.3vw;
  grid-template-columns: repeat(2, 1fr);
  background: #262626;
  border-radius: 0.5vw;
  margin-top: 0.7vw;
  border: 1px solid #3d3d3d;
}
.settings_page .content_wrapper .content .setting_items .shortcut_list .selected {
  background: #ffc300 !important;
}
.settings_page .content_wrapper .content .setting_items .shortcut_list .shortcut_item {
  cursor: pointer;
  transition: background 0.2s;
  padding: 0.5vw 0.8vw;
  border-radius: 0.4vw;
  white-space: nowrap;
  font-weight: bold;
  text-align: center;
}
.settings_page .content_wrapper .content .setting_items .shortcut_list .shortcut_item:hover {
  background: #383838;
}
@keyframes tag_input_enter {
  0% {
    width: 0;
  }
  100% {
    width: 7vw;
  }
}
.settings_page .content_wrapper .content .setting_items .shield_table {
  margin-top: 0.7vw;
  width: 75vw;
  border: 1px solid #3d3d3d;
  background-color: #262626;
}
.settings_page .content_wrapper .content .setting_items .shield_table .title {
  height: 2vw;
  font-size: 1rem;
  line-height: 2vw;
  display: grid;
  grid-template-columns: 40% 60%;
  border-bottom: 1px solid #3d3d3d;
  font-weight: bold;
}
.settings_page .content_wrapper .content .setting_items .shield_table .title .loader_name {
  padding-left: 1.6vw;
}
.settings_page .content_wrapper .content .setting_items .shield_table .list {
  display: grid;
  grid-gap: 0.5vw;
  padding: 0.5vw 0 1.6vw 0;
}
.settings_page .content_wrapper .content .setting_items .shield_table .list .list_item {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: flex-start;
}
.settings_page .content_wrapper .content .setting_items .shield_table .list .list_item .item_name {
  margin: 0 0.5vw 0 1.6vw;
  display: flex;
  height: 2.6vw;
  padding: 0 0.5vw;
  text-align: left;
  align-items: center;
  background: #1f1f1f;
  border-radius: 0.3vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.settings_page .content_wrapper .content .setting_items .shield_table .list .list_item .shield_model_list {
  width: 100%;
  padding-right: 1.8vw;
}
.settings_page .content_wrapper .content .setting_items .shield_table .list .list_item .shield_model_list .list_area {
  width: 100%;
  min-height: 2.6vw;
  border-radius: 0.3vw;
  background: #1f1f1f;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 0.5vw;
}
.settings_page .content_wrapper .content .setting_items .shield_table .list .list_item .shield_model_list .list_area .model {
  cursor: default;
  display: flex;
  color: #ffffff;
  background: #383838;
  border-radius: 0.3vw;
  padding: 0.2vw 0.5vw;
  flex: 0;
  white-space: nowrap;
  align-items: center;
  margin: 0.2vw 0.5vw 0.2vw 0;
  font-size: 1rem;
}
.settings_page .content_wrapper .content .setting_items .shield_table .list .list_item .shield_model_list .list_area .model em {
  color: #808080;
  cursor: pointer;
  margin-left: 0.5vw;
  transition: color 0.25s;
  font-size: 0.7rem;
}
.settings_page .content_wrapper .content .setting_items .shield_table .list .list_item .shield_model_list .list_area .model em:hover {
  color: red;
}
.settings_page .content_wrapper .content .setting_items .shield_table .list .list_item .shield_model_list .list_area .expand {
  background: #383838 !important;
  border: 1px solid transparent !important;
}
.settings_page .content_wrapper .content .setting_items .shield_table .list .list_item .shield_model_list .list_area .expand em {
  color: #ffffff !important;
}
.settings_page .content_wrapper .content .setting_items .shield_table .list .list_item .shield_model_list .list_area .add_icon {
  padding: 0.36vw 0.62vw;
  border: 1px solid #3d3d3d;
  border-radius: 0.36vw;
  background: #1f1f1f;
  cursor: pointer;
}
.settings_page .content_wrapper .content .setting_items .shield_table .list .list_item .shield_model_list .list_area .add_icon em {
  color: #3d3d3d;
}
.settings_page .content_wrapper .content .setting_items .shield_table .list .list_item .shield_model_list .list_area .add_icon:hover {
  background: #262626;
  border: 1px solid #262626;
}
.settings_page .content_wrapper .content .setting_items .shield_table .list .list_item .shield_model_list .list_area .add_icon:hover em {
  color: #ffffff;
}
.settings_page .content_wrapper .content .setting_items .shield_table .list .list_item .shield_model_list .list_area::-webkit-scrollbar {
  width: 8px;
}
.settings_page .content_wrapper .content .setting_items .shield_table .list .list_item .shield_model_list .list_area::-webkit-scrollbar-thumb:vertical {
  border-radius: 20px;
  background: #808080;
}
.settings_page .content_wrapper .content .setting_items .shield_table .list .list_item .shield_model_list .list_area::-webkit-scrollbar-track {
  background-color: transparent;
}
.settings_page .content_wrapper .content .setting_items .shield_table .list .list_item .shield_model_list .list_area::-webkit-scrollbar-corner {
  background-color: transparent;
}
.settings_page .content_wrapper .content .setting_items .model_input {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: #1f1f1fcd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings_page .content_wrapper .content .setting_items .model_input .input_area {
  width: 40vw;
  border-radius: 1vw;
}
.settings_page .content_wrapper .content .setting_items .model_input .input_area .loader_name {
  font-size: 2rem;
  color: #ffffff;
}
.settings_page .content_wrapper .content .setting_items .model_input .input_area .input_box {
  display: flex;
  height: 4vw;
  border: 2px solid #3d3d3d;
  border-radius: 0.3vw;
  background: #1f1f1f;
  margin-top: 1vw;
  overflow: hidden;
}
.settings_page .content_wrapper .content .setting_items .model_input .input_area .input_box input {
  flex: 1;
  height: 100%;
  color: #ffffff;
  padding: 0 1vw;
  font-size: 1.5rem;
  background: transparent;
  border-right: 1px solid #3d3d3d;
}
.settings_page .content_wrapper .content .setting_items .model_input .input_area .input_box input::-webkit-input-placeholder {
  font-size: 1rem;
}
.settings_page .content_wrapper .content .setting_items .model_input .input_area .input_box .button_group {
  display: flex;
  justify-content: center;
}
.settings_page .content_wrapper .content .setting_items .model_input .input_area .input_box .button_group button {
  background: transparent;
  font-size: 1.2rem;
  padding: 0 1vw;
  color: #ffffff;
  transition: background 0.2s;
}
.settings_page .content_wrapper .content .setting_items .model_input .input_area .input_box .button_group button:nth-of-type(1):hover {
  background: #43cf7c;
}
.settings_page .content_wrapper .content .setting_items .model_input .input_area .input_box .button_group button:nth-of-type(2):hover {
  background: #ff5733;
}
.settings_page .content_wrapper .content .setting_items .window_list {
  display: grid;
  grid-gap: 0.5vw;
  padding: 0.3vw;
  grid-template-columns: repeat(2, 1fr);
  background: #262626;
  border-radius: 0.5vw;
  margin-top: 0.7vw;
  border: 1px solid #3d3d3d;
}
.settings_page .content_wrapper .content .setting_items .window_list .selected {
  background: #ffc300 !important;
}
.settings_page .content_wrapper .content .setting_items .window_list .window_item {
  cursor: pointer;
  transition: background 0.2s;
  padding: 0.5vw 0.8vw;
  border-radius: 0.4vw;
  white-space: nowrap;
  font-weight: bold;
  text-align: center;
}
.settings_page .content_wrapper .content .setting_items .window_list .window_item:hover {
  background: #383838;
}
.settings_page .content_wrapper .content::-webkit-scrollbar {
  width: 15px;
}
.settings_page .content_wrapper .content::-webkit-scrollbar-thumb:vertical {
  border-radius: 20px;
  background: #ff8d1a;
}
.settings_page .content_wrapper .content::-webkit-scrollbar-track {
  background-color: transparent;
}
.settings_page .foot {
  width: 100%;
  height: 2.2vw;
  border-top: 1px solid #383838;
}
