.left_menu {
  position: relative;
  width: 4.2vw;
  height: 100%;
  border-right: 2px solid #383838;
  .item {
    width: 4.2vw;
    height: 4.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 3vw;
    height: 3vw;
  }
  ul {
    width: 100%;
    height: calc(100% - 10vw);
    overflow-y: auto;
    .selected {
      background: #ffc300;
      transition: 0.2s;
    }
    li {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      em {
        font-size: 2rem;
      }
      span {
        text-align: center;
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin: 0.2vw 0 -0.5vw 0;
        font-weight: bold;
        font-size: 0.6rem;
      }
      &:hover {
        background: #ffc300;
        transition: 0.2s;
      }
    }
    &::-webkit-scrollbar {
      width: 0;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }
  .language {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2vw;
    width: 3vw;
    height: 3vw;
    overflow: hidden;
    span {
      cursor: pointer;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      &:nth-of-type(1) {
        left: 0;
      }
      &:nth-of-type(2) {
        left: 100%;
      }
      &:nth-of-type(3) {
        left: 200%;
      }
    }
  }
}
