.left_menu {
  position: relative;
  width: 4.2vw;
  height: 100%;
  border-right: 2px solid #383838;
}
.left_menu .item {
  width: 4.2vw;
  height: 4.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left_menu img {
  width: 3vw;
  height: 3vw;
}
.left_menu ul {
  width: 100%;
  height: calc(100% - 10vw);
  overflow-y: auto;
}
.left_menu ul .selected {
  background: #ffc300;
  transition: 0.2s;
}
.left_menu ul li {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.left_menu ul li em {
  font-size: 2rem;
}
.left_menu ul li span {
  text-align: center;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0.2vw 0 -0.5vw 0;
  font-weight: bold;
  font-size: 0.6rem;
}
.left_menu ul li:hover {
  background: #ffc300;
  transition: 0.2s;
}
.left_menu ul::-webkit-scrollbar {
  width: 0;
}
.left_menu ul::-webkit-scrollbar-track {
  background-color: transparent;
}
.left_menu .language {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2vw;
  width: 3vw;
  height: 3vw;
  overflow: hidden;
}
.left_menu .language span {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.left_menu .language span:nth-of-type(1) {
  left: 0;
}
.left_menu .language span:nth-of-type(2) {
  left: 100%;
}
.left_menu .language span:nth-of-type(3) {
  left: 200%;
}
