.foot {
  width: 100%;
  height: 2.3vw;
  border-top: 2px solid #383838;
  display: flex;
  align-items: center;
  padding: 0.8vw;
  font-size: 0.8rem;
}
.foot .progress {
  width: 5.8vw;
  height: 0.8vw;
  border-radius: 0.3vw;
  background: #383838;
  overflow: hidden;
  margin-left: 0.6vw;
}
.foot .progress .value {
  height: 100%;
  width: 0;
  background: #43cf7c;
}
